In [2]:
# %%
import pandas as pd
import json
import json
import os

In [ ]:

# read in json from different folder
with open("../results/skills_gap_analysis/job_gpt-3.5-turbo_2sent_n1500_jBd_detailed.json", "r") as f:
    jobs = json.load(f)
with open("../results/skills_gap_analysis/course_gpt-3.5-turbo_2sent_n500_jBd_V4_detailed.json", "r") as f:
    courses = json.load(f)

# read in taxonomy from different folder
taxonomy = pd.read_csv("../../data/taxonomy/taxonomy_V4.csv")
keep_cols = [
    "unique_id",
    "Type Level 1",
    "Type Level 2",
    "Type Level 3",
    "Type Level 4",
]
taxonomy = taxonomy[keep_cols]

courses = {course_id:courses[course_id]['to_acquire'] for course_id in courses.keys()}

results_dict = {'jobs': jobs, 'courses': courses}

In [19]:

for data_type, results in results_dict.items():
    print(data_type, len(results))
    matched_ids = {}
    for job_id in results:
        job = results[job_id]
        for sent in job:
            matched = sent["matched_skills"]
            for skill, data in matched.items():
                if data["unique_id"] not in matched_ids:
                    matched_ids[data["unique_id"]] = 1
                else:
                    matched_ids[data["unique_id"]] += 1
                # matched_ids.append(data["unique_id"])


    taxonomy["matched_count_"+data_type] = taxonomy["unique_id"].map(matched_ids).fillna(0)

jobs 1147
courses 124

In [55]:
for data_type in results_dict.keys():
    lv1 = (
        taxonomy.groupby("Type Level 1")
        .sum()
        .sort_values(by="matched_count_jobs", ascending=False)
        .drop(columns="unique_id")
    )
    lv2 = (
        taxonomy.groupby(["Type Level 1", "Type Level 2"])
        .sum()
        .sort_values(by="matched_count_jobs", ascending=False)
        .drop(columns="unique_id")
    )
    lv3 = (
        taxonomy.groupby(["Type Level 1", "Type Level 2", "Type Level 3"])
        .sum()
        .sort_values(by="matched_count_jobs", ascending=False)
        .drop(columns="unique_id")
    )
    lv4 = (
        taxonomy.groupby(["Type Level 1", "Type Level 2", "Type Level 3", "Type Level 4"])
        .sum()
        .sort_values(by="matched_count_jobs", ascending=False)
        .drop(columns="unique_id")
    )

/tmp/ipykernel_141383/1297889188.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()
/tmp/ipykernel_141383/1297889188.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()
/tmp/ipykernel_141383/1297889188.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()
/tmp/ipykernel_141383/1297889188.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()
/tmp/ipykernel_141383/1297889188.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()
/tmp/ipykernel_141383/1297889188.py:16: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .sum()

In [65]:
# lv1
# lv2
# lv3
lv2

                                                                matched_count_jobs  \
Type Level 1              Type Level 2
Fachkompetenz             Informationssicherheit                           12000.0
                          Management der ICT                               11505.0
                          Projektmanagement                                 3564.0
                          Network Operation                                 2025.0
                          Service Design                                    1690.0
                          Application Engineering                           1638.0
Kompetenzelemente         Soziale Fertigkeit                                1520.0
Fachkompetenz             ICT Service Operation                             1342.0
                          Application Operation                              948.0
Kompetenzelemente         Leistungsorientierung                              915.0
Fachkompetenz             Service Engineering                                552.0
                          Ergonomie, Usability                               336.0
                          Betriebswirtschaft der ICT                         330.0
Kompetenzelemente         Gewissenhaftigkeit                                 268.0
                          Kognitive Fertigkeit                               232.0
Fachkompetenz             Geb√§udeautomation                                  160.0
                          Hardware Operation                                 108.0
                          Data Engineering/Data Management                   105.0
                          Organisation                                       105.0
Kompetenzelemente         Beziehungsorientierung                              95.0
Sozial- & Selbstkompetenz Kollaboration                                       45.0
Kompetenzelemente         Flexibilit√§t                                        19.0
Sozial- & Selbstkompetenz Kommunikation                                       15.0
Fachkompetenz             Technical Software Engineering                      15.0
Kompetenzelemente         Physische Fertigkeit                                14.0
                          Psychomotorische Fertigkeit                         12.0
Sozial- & Selbstkompetenz Selbsttransformation                                12.0
Fachkompetenz             Qualit√§tsmanagement                                 10.0
Kompetenzelemente         Unabh√§ngigkeit                                       7.0
Fachkompetenz             Hardware Engineering                                 3.0
                          Network Engineering                                  2.0
Kompetenzelemente         Toleranz                                             2.0
Sozial- & Selbstkompetenz Selbstorganisation                                   1.0
Fachkompetenz             Business- & Requirements-Engineering                 0.0
Kompetenzelemente         Psychische Fertigkeit                                0.0
Sozial- & Selbstkompetenz F√ºhrung                                              0.0
Fachkompetenz             Architekturen                                        0.0
Sozial- & Selbstkompetenz Selbstreflexion                                      0.0
Fachkompetenz             Risikomanagement                                     0.0

                                                                matched_count_courses
Type Level 1              Type Level 2
Fachkompetenz             Informationssicherheit                                864.0
                          Management der ICT                                    450.0
                          Projektmanagement                                      72.0
                          Network Operation                                      75.0
                          Service Design                                        230.0
                          Application Engineering                                39.0
Kompetenzelemente         Soziale Fertigkeit                                    123.0
Fachkompetenz             ICT Service Operation                                  11.0
                          Application Operation                                   0.0
Kompetenzelemente         Leistungsorientierung                                  68.0
Fachkompetenz             Service Engineering                                    18.0
                          Ergonomie, Usability                                   24.0
                          Betriebswirtschaft der ICT                            418.0
Kompetenzelemente         Gewissenhaftigkeit                                      7.0
                          Kognitive Fertigkeit                                   39.0
Fachkompetenz             Geb√§udeautomation                                       0.0
                          Hardware Operation                                      0.0
                          Data Engineering/Data Management                       15.0
                          Organisation                                           21.0
Kompetenzelemente         Beziehungsorientierung                                  3.0
Sozial- & Selbstkompetenz Kollaboration                                           1.0
Kompetenzelemente         Flexibilit√§t                                            0.0
Sozial- & Selbstkompetenz Kommunikation                                           9.0
Fachkompetenz             Technical Software Engineering                          0.0
Kompetenzelemente         Physische Fertigkeit                                    6.0
                          Psychomotorische Fertigkeit                             8.0
Sozial- & Selbstkompetenz Selbsttransformation                                    4.0
Fachkompetenz             Qualit√§tsmanagement                                     0.0
Kompetenzelemente         Unabh√§ngigkeit                                          0.0
Fachkompetenz             Hardware Engineering                                    0.0
                          Network Engineering                                     0.0
Kompetenzelemente         Toleranz                                                0.0
Sozial- & Selbstkompetenz Selbstorganisation                                      2.0
Fachkompetenz             Business- & Requirements-Engineering                    0.0
Kompetenzelemente         Psychische Fertigkeit                                   0.0
Sozial- & Selbstkompetenz F√ºhrung                                                 0.0
Fachkompetenz             Architekturen                                           0.0
Sozial- & Selbstkompetenz Selbstreflexion                                         0.0
Fachkompetenz             Risikomanagement                                        0.0

In [38]:
# Cases where we have gaps, level by level:
lv2[(lv2["matched_count_jobs"] > 10) & (lv2["matched_count_courses"] == 0)]

                                                  matched_count_jobs  \
Type Level 1      Type Level 2
Fachkompetenz     Application Operation                        948.0
                  Geb√§udeautomation                            160.0
                  Hardware Operation                           108.0
Kompetenzelemente Flexibilit√§t                                  19.0
Fachkompetenz     Technical Software Engineering                15.0

                                                  matched_count_courses
Type Level 1      Type Level 2
Fachkompetenz     Application Operation                             0.0
                  Geb√§udeautomation                                 0.0
                  Hardware Operation                                0.0
Kompetenzelemente Flexibilit√§t                                      0.0
Fachkompetenz     Technical Software Engineering                    0.0

In [39]:
lv3[(lv3["matched_count_jobs"] > 10) & (lv3["matched_count_courses"] == 0)]

,,matched_count_jobs,matched_count_courses
Type Level 2,Type Level 3,,
Beziehungsorientierung,Teamorientierung,84.0,0.0
Leistungsorientierung,Tatkraft,31.0,0.0
Kognitive Fertigkeit,Sprachliche Fertigkeiten,12.0,0.0
Psychomotorische Fertigkeit,Feinmotorik,11.0,0.0

In [40]:
lv4[(lv4["matched_count_jobs"] > 10) & (lv4["matched_count_courses"] == 0)]

,,,matched_count_jobs,matched_count_courses
Type Level 2,Type Level 3,Type Level 4,,
Kognitive Fertigkeit,Wahrnehmungsf√§higkeiten,Aufnahmef√§higkeit,13.0,0.0

# focus on rollouter job

In [27]:
rollout_ids = json.load(open('list_rollouter_job_ids.json'))
rollout_ids = [str(rollout_id) for rollout_id in rollout_ids]
with open("../results/rollouter_jobs/job_gpt-3.5-turbo_ids_2sent_n10_jBd_V4_detailed.json", "r") as f:
    jobs = json.load(f)
taxonomy = pd.read_csv("../../data/taxonomy/taxonomy_V4.csv")
keep_cols = [
    "unique_id",
    "Type Level 1",
    "Type Level 2",
    "Type Level 3",
    "Type Level 4",
]
taxonomy = taxonomy[keep_cols]

jobs_rollout = {job_id:job_extract for job_id, job_extract in jobs.items() if int(job_id) in rollout_ids}
print('Jobs etxracted for Rollouter:', len(jobs_rollout), 'out of', len(rollout_ids))


matched_ids = {}
for job in jobs_rollout.values():
    for sent in job:
        matched = sent["matched_skills"]
        for skill, data in matched.items():
            if data["unique_id"] not in matched_ids:
                matched_ids[data["unique_id"]] = 1
            else:
                matched_ids[data["unique_id"]] += 1


taxonomy["matched_count_rollouter"] = taxonomy["unique_id"].map(matched_ids).fillna(0)

FileNotFoundError: [Errno 2] No such file or directory: '../results/rollouter_jobs/job_gpt-3.5-turbo_ids_2sent_n10_jBd_V4_detailed.json.json'

In [20]:
rollout_ids.append('14419')

In [23]:
[id for id in rollout_ids if str(id) in jobs.keys()]

[]

In [25]:
jobs.keys()

dict_keys(['14419', '14421', '14437', '14422', '14423', '14433', '14435', '14468', '14470', '14442', '14473', '14479', '4814', '14481', '14483', '14485', '14887', '14477', '14478', '14488', '14495', '13129', '14486', '14490', '14496', '14492', '14499', '14508', '14509', '14516', '14503', '14517', '14515', '14514', '5305', '14524', '14526', '5453', '14519', '14520', '14527', '14533', '13422', '14534', '14535', '14536', '14539', '14543', '14545', '14620', '13130', '10986', '14541', '14542', '14615', '13135', '14466', '14627', '7746', '14476', '14629', '14632', '14642', '10860', '10687', '14646', '8300', '8310', '13178', '14648', '13182', '13319', '8367', '8487', '8488', '13415', '10692', '8685', '8785', '10965', '11000', '10764', '8957', '9152', '13416', '13423', '13429', '11055', '13175', '9754', '9155', '16488', '13504', '11058', '16494', '11061', '16497', '3063', '16499', '10109', '10920', '13506', '13526', '11640', '11063', '11642', '10376', '16500', '3765', '13579', '10579', '13594', '10669', '10637', '14565', '11067', '10768', '10773', '10779', '10778', '10830', '10836', '10828', '16504', '10857', '3951', '4054', '13603', '16505', '11056', '13631', '14566', '16510', '4272', '11066', '13645', '13664', '16511', '16516', '14577', '11305', '11439', '13683', '14580', '11069', '4282', '13693', '16518', '11070', '13706', '11071', '11618', '11610', '13707', '11152', '4285', '11075', '4287', '11795', '11797', '11798', '13750', '11171', '11083', '13786', '4289', '10642', '10851', '13839', '11127', '13900', '11241', '13916', '13917', '11168', '11326', '11215', '16520', '11256', '11381', '16528', '11262', '11386', '16530', '16532', '16534', '14059', '11447', '14622', '16536', '16538', '11847', '11344', '11843', '11402', '14089', '14117', '11974', '16539', '16541', '12076', '12063', '11455', '12090', '12108', '12096', '12085', '12115', '12119', '12110', '14162', '11461', '14176', '14189', '11521', '11526', '12330', '14193', '14637', '11462', '14197', '12319', '14198', '14202', '14205', '14207', '14213', '14216', '14217', '14650', '11581', '14684', '14218', '14219', '12446', '12449', '11628', '14220', '14221', '14687', '14236', '14239', '14240', '14690', '16543', '14251', '12681', '14659', '11714', '12726', '12734', '14390', '14700', '14432', '14838', '14698', '14505', '11741', '11796', '13307', '14530', '13021', '11819', '13020', '11846', '13089', '11834', '14538', '14540', '14709', '11908', '13269', '13299', '11972', '11990', '12135', '12146', '13362', '12168', '13473', '14570', '14600', '12242', '14603', '14610', '12268', '13582', '13578', '12317', '13593', '14727', '14731', '14722', '14725', '14939', '15090', '13680', '13675', '13677', '13682', '14669', '14671', '13691', '14689', '13715', '13717', '14943', '13738', '13742', '14710', '13777', '13811', '12480', '13833', '14712', '13902', '14746', '14748', '15008', '13927', '14737', '14738', '14739', '14036', '14041', '14753', '14757', '12628', '14070', '14764', '14766', '12647', '14776', '14768', '14771', '14075', '14779', '14843', '12657', '14088', '14091', '8204', '14888', '14894', '5680', '14931', '14932', '6309', '6300', '12711', '12743', '6686', '7745', '7771', '14933', '8046', '14934', '14956', '15081', '14959', '15089', '8662', '8694', '9391', '14961', '10044', '10094', '12789', '10210', '11973', '12015', '10437', '15046', '12065', '10953', '15062', '10879', '11064', '12077', '12091', '15067', '15076', '12174', '15166', '15077', '12878', '15079', '15092', '11343', '11410', '15093', '15106', '11540', '11614', '11668', '11726', '11716', '15110', '12219', '12207', '11881', '12133', '12104', '12111', '12203', '12215', '12220', '13400', '12244', '15124', '15128', '15140', '12292', '12414', '12929', '12945', '12486', '12562', '12709', '15171', '15198', '12772', '12477', '12492', '12635', '12879', '15177', '15176', '15204', '15223', '15233', '13202', '13191', '13166', '15234', '12967', '14777', '13382', '13383', '13384', '13389', '13403', '13443', '15180', '15242', '13003', '13509', '12753', '15249', '13586', '13564', '13025', '13596', '13032', '13643', '13080', '15250', '12828', '13044', '15260', '15323', '13779', '13088', '13886', '15189', '12921', '14071', '13132', '14803', '15329', '14860', '15331', '14863', '14854', '13154', '14867', '14868', '15205', '15333', '15343', '15370', '14944', '14946', '15381', '13349', '15383', '13351', '13355', '13412', '15039', '15042', '9622', '15145', '15158', '15149', '15150', '15168', '15151', '15143', '553', '1172', '15408', '15418', '2693', '13419', '3301', '3714', '4273', '4274', '4275', '4281', '4284', '4286', '4709', '13493', '4753', '5316', '5844', '7741', '7774', '13556', '13561', '15341', '13538', '13539', '15461', '13597', '15342', '8918', '15472', '15475', '15481', '15482', '9807', '10331', '13627', '13610', '10011', '15373', '9992', '10022', '10090', '15495', '10162', '10123', '10223', '10227', '10236', '10310', '10317', '15389', '15531', '10428', '10429', '10431', '15555', '15405', '10656', '15407', '15584', '15804', '15799', '15785', '15802', '15806', '15787', '15792', '15796', '15112', '15591', '15808', '15809', '15810', '15811', '15816', '15813', '15420', '15421', '15814', '15817', '15818', '15825', '15821', '15430', '15822', '15823', '15597', '15824', '14670', '13646', '11132', '15830', '15831', '15450', '15454', '15828', '15829', '11394', '11390', '15832', '15833', '15834', '15835', '15836', '15845', '15855', '15839', '15841', '15846', '15849', '15853', '15854', '15856', '15857', '15858', '11736', '11739', '11740', '15469', '13667', '15862', '15607', '15866', '15867', '15860', '15861', '15863', '15864', '15865', '15608', '15872', '15868', '15869', '15874', '15875', '15870', '15871', '15873', '15883', '15881', '15885', '12109', '15677', '15886', '15891', '14736', '15890', '15892', '15487', '12269', '12282', '13710', '15932', '15938', '12423', '15940', '15942', '15937', '15947', '15949', '15698', '15712', '15950', '15952', '13775', '14878', '15971', '14885', '15972', '14876', '14877', '15958', '15965', '15966', '15968', '15959', '15973', '15231', '15976', '12855', '15977', '12859', '15974', '14886', '15739', '12952', '15979', '15981', '15497', '15746', '15504', '15764', '13096', '13157', '13136', '13144', '15766', '15991', '15994', '16018', '16019', '16021', '16003', '16002', '16006', '16009', '16020', '15508', '13572', '13575', '13658', '13659', '13790', '13797', '13705', '13708', '15791', '13773', '13774', '13838', '13837', '15827', '13850', '13851', '13291', '13343', '13898', '15840', '13696', '13699', '13665', '13903', '13905', '13988', '13992', '13993', '15848', '14090', '14264', '13973', '13979', '14296', '13995', '14006', '14085', '14494', '14497', '14506', '14108', '14511', '14116', '14563', '14554', '14558', '14605', '15850', '15851', '14645', '14649', '14652', '14268', '14705', '14269', '14270', '14846', '14853', '14865', '14866', '14320', '14326', '14335', '14960', '14962', '15052', '15852', '14336', '14340', '14372', '15064', '14381', '15903', '15935', '14398', '15946', '15948', '15956', '14420', '15957', '14410', '14426', '14891', '15191', '15179', '15202', '14447', '14471', '15543', '15540', '14474', '14491', '15609', '15610', '15616', '15644', '516', '15632', '15637', '15652', '15660', '15661', '15663', '15667', '15970', '15656', '14897', '14915', '15681', '15690', '15705', '15701', '15702', '15704', '15717', '15720', '15725', '15727', '15738', '15996', '15745', '15743', '15742', '15752', '15772', '16005', '16008', '14502', '16010', '16011', '16012', '16013', '16017', '16036', '16037', '15904', '15909', '15912', '15920', '15926', '15929', '15900', '15901', '15917', '15923', '1108', '16042', '2363', '2396', '16043', '16047', '16058', '16072', '16094', '4745', '5293', '5255', '5686', '5689', '5709', '5719', '6305', '6295', '6647', '6613', '7983', '7732', '7990', '7984', '8214', '8255', '8541', '16126', '8526', '8601', '8963', '9382', '9513', '9983', '16140', '16153', '10290', '10298', '16158', '10700', '10772', '16178', '16183', '10888', '10889', '10983', '10927', '10908', '10981', '10982', '16197', '11059', '11060', '11057', '16202', '16213', '11072', '11073', '11191', '11294', '11331', '11484', '11543', '11729', '11738', '16234', '11749', '11807', '11806', '11810', '11829', '16244', '16245', '11890', '11928', '11850', '11859', '12164', '12162', '12218', '12288', '12290', '16256', '16260', '12434', '12420', '12556', '12568', '16265', '16266', '12837', '12841', '16282', '13027', '13268', '13433', '13436', '16294', '16303', '16334', '16343', '13647', '16346', '16350', '13743', '13952', '13737', '13798', '13843', '16399', '14124', '14068', '14247', '16403', '16414', '14350', '14401', '14445', '14448', '16415', '14434', '14440', '14444', '14455', '14475', '14498', '16418', '14590', '16427', '14845', '14836', '14752', '14979', '16446', '16447', '16469', '15078', '15141', '15181', '16470', '14851', '16471', '16476', '16477', '15012', '14992', '15000', '15055', '15063', '15107', '15096', '15105', '15163', '15130', '15172', '15187', '15190', '15235', '15258', '15319', '15271', '15294', '15332', '15371', '15385', '15400', '15391', '15395', '15434', '15429', '15431', '15467', '15462', '15494', '15544', '15533', '15539', '15559', '15561', '15606', '15603', '15664', '15619', '15659', '15688', '15692', '15812', '15838', '15843', '15844', '15882', '15933', '15906', '15955', '15967', '15990', '15988', '15989', '16025', '16026', '16027', '16057', '16044', '16106', '16114', '16133', '16171', '16157', '16163', '16189', '16210', '16204', '16208', '16217', '16220', '16262', '16264', '16269', '16284', '16281', '16296', '16298', '16300', '16308', '16323', '16345', '16354', '1460', '2408', '3208', '2672', '3783', '3825', '3715', '5317', '6588', '6615', '5750', '12294', '7726', '9770', '12368', '9944', '9976', '10296', '10504', '10560', '10420', '10649', '11222', '11296', '11332', '11456', '11460', '11707', '11737', '11637', '11966', '12009', '12496', '12553', '12476', '12678', '12899', '12944', '13045', '13177', '13138', '13495', '13543', '13541', '13542', '13642', '13644', '13640', '13678', '13960', '13978', '14065', '14067', '14076', '14294', '14330', '14414', '14351', '14418', '14537', '14562', '14544', '14569', '14582', '14571', '14604', '14657'])